@media (prefers-color-scheme: dark)
	:root
		--base-bg: #131a21
		--body-bg: #222833
		--text: #ddb
		--link-text: #4ad

@media (prefers-color-scheme: no-preference)
	:root
		--base-bg: #131a21
		--body-bg: #222833
		--text: #ddb
		--link-text: #4ad

@media (prefers-color-scheme: light)
	:root
		--base-bg: #fff
		--body-bg: #fff
		--text: #222
		--link-text: #33f

body
	background: var(--base-bg)
	margin: 0
	height: 100%

*
	color: var(--text)
	font-family: Arial, sans-serif

.header
	display: flex

.header-div
	width: 100% 
	display: flex

.input
	background: #525
	margin: 1em
	border: .3em outset #737
	border-radius: .7em
	padding: .4em .8em

.text-info
	align-self: center
	width: 100%
	text-align: center

.container
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-between

.rail
	width: 100%	

.board-container
	display: flex

footer
	margin-top: 1em
	margin-bottom: 1em
	margin-right: auto
	margin-left: 1em
	align-self: flex-end

#board
	width: 19em

.board
	display: grid
	grid-template-columns: 1fr 1fr 1fr

.marker-x
	color: #e99

.marker-o
	color: #99e

.micro-cell
	display: flex 
	align-items: center
	justify-content: center
	justify-self: center
	width: 1.5em
	height: 1.5em

.macro-cell
	justify-self: center
	padding: .8em

.micro-border
	border: 1px solid #555

.micro-horizontal
	border-width: 1px 0px

.micro-vertical
	border-width: 0px 1px

.macro-border
	border: 4px ridge #555

.macro-horizontal
	border-width: 4px 0px

.macro-vertical
	border-width: 0px 4px

.last-move
	background: #ff03

.x-turn
	background: linear-gradient(291deg, #311919, #4e2929)

.o-turn
	background: linear-gradient(69deg, #191931, #29294e) 

.closed
	background: #4447

.macro-finished
	position: relative

.macro-finished:before
	content: ""
	display: block
	position: absolute
	top: 0
	left: 0
	background: url('assets/x_macro.png')
	background-size: contain
	width: 100%
	height: 100%
	opacity: 0.25

.macro-finished-0
	position: relative

.macro-finished-o:before
	background: url('assets/o_macro.png')
	background-size: contain

.transparent-cell
	opacity: .65

a
	color: var(--link-text)
	text-decoration: underline

.hidden
	display: none
