<div id="createGameOverlay" class="flex hidden overlay">
	<div class="rail"></div>
	<div class="flex vertical">
		<div class="rail"></div>
		<form method="post" class="flex vertical signin" role="form">
			<span class="signin-header">enter your name</span>
			<div class="flex">
				<label for="username" class="right">guest name</label>
				<input type="text" id="usernameInputField" name="username" class="input input-text" required>
			</div>
			<div class="flex horizontal space-between align-center">
				<input type="button" id="guestYesNameBtn" value="ok" class="input input-submit">
				<input type="button" id="guestNoNameBtn" value="i dont want to" class="input input-submit">
			</div>
		</form>
		<div class="rail"></div>
	</div>
	<div class="rail"></div>
</div>
