			<footer class="flex">
				<div class="header-div" ><a href="https://github.com/ludant">ludant@github</a></div>
				<div id="sessionIDDiv" class="header-div" >
					<label id="sessionIDLabel" for="sessionIDDisplay" class="hidden">game ID:</label>
					<span id="sessionIDDisplay" class="hidden id-display"></span>
				</div>
				<div class="header-div" ></div>
			</footer>
		</div>
	</body>
</html>
